@import "core";

.glide {
   position: relative;
   width: 100%;
   box-sizing: border-box;

   .glide__track {
      overflow: hidden;
   }
   .glide__slides {
      position: relative;
      width: 100%;
      list-style: none;
      backface-visibility: hidden;
      transform-style: preserve-3d;
      touch-action: pan-Y;
      overflow: hidden;
      padding: 0;
      white-space: nowrap;
      display: flex;
      flex-wrap: nowrap;
      will-change: transform;
   }
   .glide__slides--dragging {
      user-select: none;
   }
   .glide__slide {
      width: 100%;
      height: 100%;
      flex-shrink: 0;
      white-space: normal;
      user-select: none;
      -webkit-touch-callout: none;
      -webkit-tap-highlight-color: transparent;
   }
   .glide__slide a {
      user-select: none;
      -webkit-user-drag: none;
      -moz-user-select: none;
      -ms-user-select: none;
   }
   .glide__arrows {
      -webkit-touch-callout: none;
      user-select: none;
   }
   .glide__bullets {
      -webkit-touch-callout: none;
      user-select: none;
   }
   .glide--rtl {
      direction: rtl;
   }

   .glide__arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      font-size: 2em;
      color: #fafafa;
      background-color: transparent;
      border: none;
      cursor: pointer;
   }

   .glide__arrow i:hover {
      transition: all 0.2s ease-in;
      color: #1b262c;
   }

   .glide__arrow:focus {
      outline: none;
   }

   .glide__arrow--left {
      left: 2em;
   }
   .glide__arrow--right {
      right: 2em;
   }

   .glide__bullets {
      position: absolute;
      z-index: 1;
      bottom: 2em;
      left: 50%;
      display: inline-flex;
      list-style: none;
      transform: translateX(-50%);
   }

   .glide__bullet {
      background-color: rgba(255, 255, 255, 0.5);
      width: 9px;
      height: 9px;
      padding: 0;
      border-radius: 50%;
      border: 2px solid transparent;
      transition: all 300ms ease-in-out;
      cursor: pointer;
      line-height: 0;
      box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
      margin: 0 0.25em;
   }
   .glide__bullet:focus {
      outline: none;
   }
   .glide__bullet:hover,
   .glide__bullet:focus {
      border: 2px solid white;
      background-color: rgba(255, 255, 255, 0.5);
   }
   .glide__bullet--active {
      background-color: white;
   }

   .glide--swipeable {
      cursor: grab;
      cursor: -moz-grab;
      cursor: -webkit-grab;
   }

   .glide--dragging {
      cursor: grabbing;
      cursor: -moz-grabbing;
      cursor: -webkit-grabbing;
   }
}

.path {
   @include flex(row, center);
   height: 60px;

   a {
      margin: 0 7px;
      color: $color3;
      transition: all 0.3s;

      &:hover {
         color: $color5;
      }
   }

   span {
      color: $color1;
      margin: 0 7px;
   }
}

.filter {
   @include flex(row, space-between);
   flex-wrap: wrap;
   height: 100px;
   margin-top: 50px;
   padding: 0 7.5%;

   .filter-button {
      @include flex(row, space-around);
      padding: 1px 15px;
      font-size: 1.2em;
      border: none;
      border-radius: 4px;
      color: #fff;
      background: $color1;
      transition: all 0.6s;
      @include bSlideR(1, $color5);
      cursor: pointer;

      img {
         width: 40px;
      }

      &:hover {
         background: transparent;
      }
   }

   .filter-title {
      font-size: 2em;
      color: $color1;
      margin: 0 1vw;
      @include bSlideR(1, $color4);
      transition: all 0.3s ease-in;
      cursor: pointer;
   }

   .active-title {
      color: $color5;
   }

   .filter-shadow {
      @include hScreen(100vh, 99);
      background: #1b262c4d;
      cursor: pointer;
   }

   .filter-screen {
      @include flex(column, flex-start);
      @include hScreen(100vh, 999);
      width: 350px;
      padding: 0px 35px 50px 35px;
      overflow-y: scroll;

      div {
         width: 100%;
      }

      h1 {
         margin-top: 25px;
         font-size: 1.5em;
         color: $color2;
      }

      .categore {
         font-size: 1.1em;

         p,
         a {
            color: $color1;
            cursor: pointer;
         }

         .cat-name {
            @include bSlideR(1, $color4);
         }

         .cat-in {
            display: none;
            padding: 2px 20px 5px 0;

            a:hover {
               transition: all 0.3s;
               color: $color5;
               font-weight: bold;
            }
         }

         .show {
            @include flex(column, center);
            align-items: flex-start;
         }
      }

      .sizes {
         @include flex(row, space-between);
         margin-top: 10px;

         div {
            width: 20%;
            height: 40px;
            @include flex(row, center);
            border: solid 1px $color1;
            border-radius: 3px;
            color: $color1;
            transition: all 0.6s;

            &:hover {
               color: #fff;
               background: $color1;
            }
         }

         label {
            padding: 5px 25px;
            font-weight: bold;
            cursor: pointer;
         }

         input {
            visibility: hidden;
            position: absolute;
         }
      }

      .active-size {
         color: #fff;
         background: $color1;
      }

      .budget {
         div {
            color: $color1;
         }

         label {
            font-size: 1.2em;
            cursor: pointer;
         }

         input {
            transform: scale(2);
            margin: 15px;
         }
      }

      button {
         width: 100%;
         height: 50px;
         margin-top: 25px;
         font-size: 1.5em;
         border: none;
         border-radius: 3px;
         color: #fff;
         background: $color5;
         transition: all 0.3s ease-in;
         cursor: pointer;

         &:hover {
            background: $color1;
         }
      }
   }
}

.products {
   @include flex(row, space-around);
   flex-wrap: wrap;

   .product {
      position: relative;
      width: 20vw;
      margin: 25px 2vw;
      transition: all 0.25s ease-in;

      div {
         margin: 10px 0;
         transition: all 0.25s ease-in;
      }

      img {
         width: 100%;
      }

      .product-name {
         color: $color1;
      }

      .product-price {
         font-size: 1.2em;
         color: $color2;
         font-weight: bold;
      }

      i {
         position: absolute;
         top: 7.5%;
         left: 10%;
         font-size: 1.5em;
         transition: all 0.25s ease-in;
         cursor: pointer;

         &:hover {
            color: $color5;
         }
      }

      &:hover {
         box-shadow: 1px 2px 5px 0px #ccc;
      }

      &:hover div {
         padding: 0 10px;
      }
   }
}

.pages {
   @include flex(row, center);
   height: 100px;

   button {
      padding: 1px 10px;
      font-size: 1.2em;
      border: none;
      border-radius: 2px;
      color: #fff;
      background: $color5;
      transition: all 0.3s ease-in;
      cursor: pointer;

      &:hover {
         background: $color1;
      }
   }

   p {
      margin: 0 25px;
      font-size: 1.5em;
      color: $color1;
   }
}

.product-main {
   @include flex(row, space-between);
   align-items: flex-start;
   margin-top: 25px;

   .product-images {
      @include flex(row, center);
      align-items: flex-start;
      width: 55%;

      div {
         @include flex(column, center);
      }

      img {
         border-radius: 4px;
      }

      .s-images {
         width: 20%;

         img {
            width: 70%;
            margin-bottom: 20px;
            cursor: pointer;
            opacity: 0.5;
            transition: all 0.3s ease-in;
         }

         .active-img {
            opacity: 1;
         }
      }

      .b-image {
         width: 80%;
         img {
            width: 95%;
         }
      }
   }

   .product-info {
      @include flex(column, flex-start);
      align-items: flex-start;
      width: 45%;
      padding-right: 50px;

      h1 {
         color: $color2;
         letter-spacing: 2px;
      }
   }
}

@media only screen and(max-width: 950px) {
   .filter {
      margin: 25px 0;
      padding: 0 3vw;
      height: auto;

      .filter-button {
         margin-top: 25px;
         font-size: 1.75em;

         img {
            width: 55px;
         }
      }

      a {
         font-size: 2.1em;
         padding: 0 10px;
         margin: 0;
      }

      .filter-screen {
         width: 100vw;
         padding: 50px 20px;

         h1 {
            font-size: 2em;
         }

         .sizes {
            div {
               width: 22%;
               height: 50px;
               font-size: 1.25em;
            }
         }

         .budget {
            label {
               font-size: 1.5em;
            }

            input {
               margin: 15px 25px;
            }
         }

         button {
            width: 90%;
            height: 60px;
            margin-top: 25px;
            font-size: 1.75em;
         }
      }

      .categories {
         @include hScreen(100vh, 999);

         div {
            @include flex(row, center);
            height: 100%;
            width: 100%;
         }

         .categore {
            position: relative;
            width: 20vw;
            height: 75vh;
            margin: 0 25px;
            border-radius: 5px;
            overflow: hidden;

            img {
               width: 125%;
               margin-right: 100px;
               transition: all 0.3s ease-in;
            }

            div {
               position: absolute;
               top: 0;
               flex-direction: column;
               background: #1b262ca2;
            }

            h1 {
               color: $bColor;
               letter-spacing: 2px;
            }

            .categore-in {
               opacity: 0;
               z-index: 1;
               background: $color4;
               transition: all 0.3s ease-in;

               p {
                  margin: 7px 0;
                  color: $color1;
                  font-size: 1.5em;
                  letter-spacing: 1px;
                  @include bSlideR(1, $color5);
                  cursor: pointer;
               }
            }

            &:hover img {
               width: 250%;
            }

            &:hover .categore-in {
               opacity: 1;
            }
         }
      }
   }

   .products {
      .product {
         width: 40vw;
         min-width: 300px;

         .product-name {
            font-size: 1.5em;
         }

         .product-price {
            font-size: 1.6em;
         }

         i {
            font-size: 2em;
         }
      }
   }
}
