{% extends 'paper/base.html' %}
{% load i18n %}
{% load static %}
{% block body %}
{% load crispy_forms_tags %}

     <div class="container-fluid">

                    <!-- Page Heading -->
                    {% include "paper/demo.html" %}

                     {% if messages %}
                     {% for message in messages %}
                     <div class="alert alert-{{message.tags}}">
                        {{message}}
                     </div>
                     {% endfor %}
                     {% endif %}

                    <!-- Content Row -->
                    <div class="row" class="form-group"  style="justify-content: center;">
                        <div class="border p-4 mb-5 " style="display: contents;">

                            <form   method="POST" enctype='multipart/form-data'>
                                <legend class="border-bottom pb-1 mb-3 d-flex">{% trans "Upload excel file" %}</legend>
                              {% csrf_token %}
                              <div class="form-group">
                                  <div class="mb-3">
{#                                        <label class="requiredField d-flex" for="id_title">{% trans "upload" %}</label>#}
                                        <input type="file"data-form-type="title" id="id_uploadfile" name="student" class="form-control d-flex" placeholder="{% trans "upload" %}" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">

                                  </div>

                                <input class="btn btn-primary d-flex check-answer" id="check-answer" type="submit" value="{% trans "upload" %}">

                              </div>
                            </form>
                        </div>
                    </div>
     </div>

{% endblock body%}

