{% load static %}
{% load i18n %}

 <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" >

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ home }}/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <img style="height: 56px;width: auto;" src="{% static 'paper/img/logo.png' %}">
                </div>
                <div class="sidebar-brand-text mx-3">{% trans "correction" %}</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link d-flex" href="{{ home }}/">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>{% trans "correction" %}</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading d-flex">
                {% trans "Papers and settings" %}
            </div>

            <li class="nav-item active">
                <a class="nav-link d-flex" href="{% url "paper:new-student" %}">
                    <i class="fas fa-fw far fa-copy"></i>
                    <span>{% trans "new student" %}</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link d-flex" href="{% url 'paper:generate-pdf' %}">
                    <i class="fas fa-fw far fa-copy"></i>
                    <span>{% trans "generate questions paper" %}</span></a>
            </li>

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link d-flex" href="{% url "paper:paper-list" %}">
                    <i class="fas fa-fw far fa-copy"></i>
                    <span>{% trans "Question and answer sheets" %}</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link d-flex" href="{% url "paper:import-student-data" %}">
                    <i class="fas fa-fw far fa-copy"></i>
                    <span>{% trans "upload and generate" %}</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw far fa-cog"></i>
                    <span>{% trans "settings" %}</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">{% trans "student" %}</h6>
                        <a class="collapse-item"  data-toggle="modal" data-target="#DeleteAllStudents">{% trans "Delete all students" %}</a>
                        <h6 class="collapse-header">{% trans "paper" %}</h6>
                        <a class="collapse-item"  data-toggle="modal" data-target="#DeleteAllModal">{% trans "Delete all data" %}</a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">{% trans "teacher" %}</h6>
                        <a class="collapse-item" href="{% url 'paper:new-teacher' %}">{% trans "teacher" %}</a>
                        <a class="collapse-item"  data-toggle="modal" data-target="#DeleteAllTeachers">{% trans "Delete all teachers" %}</a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">{% trans "class" %}</h6>
                        <a class="collapse-item" href="{% url 'paper:new-class' %}">{% trans "class" %}</a>
                        <a class="collapse-item"  data-toggle="modal" data-target="#DeleteAllClass">{% trans "Delete all class" %}</a>

                    </div>
                </div>
            </li>


            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading d-flex">
                {% trans "Exit" %}
            </div>

                <!-- Nav Item - Dashboard -->
            <li class="nav-item active ">
                <a class="nav-link d-flex" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-fw far fa-sign-out-alt"></i>
                    <span>{% trans "logout" %}</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
<!-- End of Sidebar -->

