{% extends 'paper/base.html' %}
{% load i18n %}
{% load static %}
<html>
  <head>
    <title>A4 Page</title>
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
    <link rel="stylesheet" href="a4.css">
  </head>
  <body>
    <div class="main-page">
      <div class="sub-page">
        <h3 align='center'>Name Of School</h3>
          <div class="container"  >
                <img src="image/QR.png" class="rounded float-left" alt="QR" width="100" height="100">
                <img src="image/school_logo.png"  class="float-right"  alt="School Logo" width="100" height="100">
            </div>
            <br/><br/>
             <div class="container">
              <div class="">
              <b>Class:</b> A1
                <br/>
              <b>Teacher:</b> teacher name
              </div>
              <div class="" style="margin-left: 395px;">
                <b>Name:</b> mahmoud ahmed
                <br/>
              <b>Code:</b> 4544546
              </div>
              </div>
             <br/><br/>
             <div class="container">
              <div class="col-4">
              <b>Correct</b>
                <br/>
               <svg width="100" height="100">
                  <rect x="2" y="2" width="65" height="16" style="fill:white;stroke:black;stroke-width:1;" />
                 <circle cx="10" cy="10" r="5" stroke="black" stroke-width="1" fill="white" />
                 <circle cx="25" cy="10" r="5" stroke="black" stroke-width="1" fill="white" />
                 <circle cx="40" cy="10" r="5" stroke="black" stroke-width="1" fill="black" />
                 <circle cx="55" cy="10" r="5" stroke="black" stroke-width="1" fill="white" />
              </svg>
              </div>
              <div class="col-4" style="margin-left: 470px;">
                <b>Wrong</b>
                <br/>
              <svg width="100" height="100">
                 <rect x="2" y="2" width="65" height="16" style="fill:white;stroke:black;stroke-width:1;" />
                 <circle cx="10" cy="10" r="5" stroke="black" stroke-width="1" fill="white" />
                 <line x1="1" y1="3" x2="20" y2="20" style="stroke:rgb(0,0,0);stroke-width:1" />
                 <line x1="15" y1="3" x2="1" y2="20" style="stroke:rgb(0,0,0);stroke-width:1" />
                 <circle cx="25" cy="10" r="5" stroke="black" stroke-width="1" fill="white" />
                 <circle cx="40" cy="10" r="5" stroke="black" stroke-width="1" fill="white" />
                 <circle cx="40" cy="10" r="2" stroke="black" stroke-width="1" fill="black" />
                 <circle cx="55" cy="10" r="5" stroke="black" stroke-width="1" fill="white" />
              </svg>
              </div>
              </div>
            </div>
          <div class="container" style="margin-top: -757px;
margin-left: 21;">
             <div class="row">
              <svg width="700" height="600">

                      <text x="24" y="13" fill="black">A</text>
                      <text x="40" y="13" fill="black">B</text>
                      <text x="56" y="13" fill="black">C</text>
                      <text x="72" y="13" fill="black">D</text>

                      <text x="5" y="28" fill="black">1</text>
                      <text x="5" y="47" fill="black">2</text>
                      <text x="5" y="66" fill="black">3</text>
                      <text x="5" y="85" fill="black">4</text>
                      <text x="5" y="104" fill="black">5</text>
                      <text x="5" y="123" fill="black">6</text>
                      <text x="5" y="142" fill="black">7</text>
                      <text x="5" y="161" fill="black">8</text>
                      <text x="5" y="180" fill="black">9</text>
                      <text x="-1" y="199" fill="black">10</text>
                  <rect x="20" y="15" width="70" height="185" style="fill:white;stroke:black;stroke-width:2;fill-opacity:0.1;stroke-opacity:0.9" />
                          <circle cx="30" cy="24" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="45" cy="24" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="60" cy="24" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="75" cy="24" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="30" cy="42" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="45" cy="42" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="60" cy="42" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="75" cy="42" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="30" cy="60" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="45" cy="60" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="60" cy="60" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="75" cy="60" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="30" cy="78" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="45" cy="78" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="60" cy="78" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="75" cy="78" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="30" cy="96" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="45" cy="96" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="60" cy="96" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="75" cy="96" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="30" cy="114" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="45" cy="114" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="60" cy="114" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="75" cy="114" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="30" cy="132" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="45" cy="132" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="60" cy="132" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="75" cy="132" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="30" cy="150" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="45" cy="150" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="60" cy="150" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="75" cy="150" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="30" cy="168" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="45" cy="168" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="60" cy="168" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="75" cy="168" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="30" cy="186" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="45" cy="186" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="60" cy="186" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="75" cy="186" r="5" stroke="black" stroke-width="1" fill="white" />


                      <text x="165" y="13" fill="black">A</text>
                      <text x="181" y="13" fill="black">B</text>
                      <text x="197" y="13" fill="black">C</text>
                      <text x="213" y="13" fill="black">D</text>

                      <text x="147" y="28" fill="black">1</text>
                      <text x="147" y="47" fill="black">2</text>
                      <text x="147" y="66" fill="black">3</text>
                      <text x="147" y="81" fill="black">4</text>
                      <text x="147" y="104" fill="black">5</text>
                      <text x="147" y="123" fill="black">6</text>
                      <text x="147" y="142" fill="black">7</text>
                      <text x="147" y="161" fill="black">8</text>
                      <text x="147" y="180" fill="black">9</text>
                      <text x="140" y="199" fill="black">10</text>
                  <rect x="160" y="15" width="70" height="185" style="fill:white;stroke:black;stroke-width:2;fill-opacity:0.1;stroke-opacity:0.9" />
                          <circle cx="171" cy="24" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="187" cy="24" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="202" cy="24" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="217" cy="24" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="171" cy="42" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="187" cy="42" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="202" cy="42" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="217" cy="42" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="171" cy="60" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="187" cy="60" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="202" cy="60" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="217" cy="60" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="171" cy="74" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="187" cy="74" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="202" cy="74" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="217" cy="74" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="171" cy="92" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="187" cy="92" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="202" cy="92" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="217" cy="92" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="171" cy="110" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="187" cy="110" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="202" cy="110" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="217" cy="110" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="171" cy="128" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="187" cy="128" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="202" cy="128" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="217" cy="128" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="171" cy="146" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="187" cy="146" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="202" cy="146" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="217" cy="146" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="171" cy="164" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="187" cy="164" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="202" cy="164" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="217" cy="164" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="171" cy="182" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="187" cy="182" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="202" cy="182" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="217" cy="182" r="5" stroke="black" stroke-width="1" fill="white" />

                      <text x="315" y="13" fill="black">A</text>
                      <text x="331" y="13" fill="black">B</text>
                      <text x="347" y="13" fill="black">C</text>
                      <text x="363" y="13" fill="black">D</text>

                      <text x="297" y="28" fill="black">1</text>
                      <text x="297" y="47" fill="black">2</text>
                      <text x="297" y="66" fill="black">3</text>
                      <text x="297" y="85" fill="black">4</text>
                      <text x="297" y="104" fill="black">5</text>
                      <text x="297" y="123" fill="black">6</text>
                      <text x="297" y="142" fill="black">7</text>
                      <text x="297" y="161" fill="black">8</text>
                      <text x="297" y="180" fill="black">9</text>
                      <text x="290" y="199" fill="black">10</text>
                  <rect x="310" y="15" width="70" height="185" style="fill:white;stroke:black;stroke-width:2;fill-opacity:0.1;stroke-opacity:0.9" />
                          <circle cx="321" cy="24" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="336" cy="24" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="351" cy="24" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="366" cy="24" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="321" cy="42" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="336" cy="42" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="351" cy="42" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="366" cy="42" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="321" cy="60" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="336" cy="60" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="351" cy="60" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="366" cy="60" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="321" cy="74" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="336" cy="74" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="351" cy="74" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="366" cy="74" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="321" cy="92" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="336" cy="92" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="351" cy="92" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="366" cy="92" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="321" cy="110" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="336" cy="110" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="351" cy="110" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="366" cy="110" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="321" cy="128" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="336" cy="128" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="351" cy="128" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="366" cy="128" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="321" cy="146" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="336" cy="146" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="351" cy="146" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="366" cy="146" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="321" cy="164" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="336" cy="164" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="351" cy="164" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="366" cy="164" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="321" cy="182" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="336" cy="182" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="351" cy="182" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="366" cy="182" r="5" stroke="black" stroke-width="1" fill="white" />


                          <text x="465" y="13" fill="black">A</text>
                          <text x="481" y="13" fill="black">B</text>
                          <text x="497" y="13" fill="black">C</text>
                          <text x="513" y="13" fill="black">D</text>

                          <text x="447" y="28" fill="black">1</text>
                          <text x="447" y="47" fill="black">2</text>
                          <text x="447" y="66" fill="black">3</text>
                          <text x="447" y="85" fill="black">4</text>
                          <text x="447" y="104" fill="black">5</text>
                          <text x="447" y="123" fill="black">6</text>
                          <text x="447" y="142" fill="black">7</text>
                          <text x="447" y="161" fill="black">8</text>
                          <text x="447" y="180" fill="black">9</text>
                          <text x="440" y="199" fill="black">10</text>
                  <rect x="460" y="15" width="70" height="185" style="fill:white;stroke:black;stroke-width:2;fill-opacity:0.1;stroke-opacity:0.9" />
                          <circle cx="471" cy="24" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="486" cy="24" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="501" cy="24" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="516" cy="24" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="471" cy="42" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="486" cy="42" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="501" cy="42" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="516" cy="42" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="471" cy="60" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="486" cy="60" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="501" cy="60" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="516" cy="60" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="471" cy="74" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="486" cy="74" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="501" cy="74" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="516" cy="74" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="471" cy="92" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="486" cy="92" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="501" cy="92" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="516" cy="92" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="471" cy="110" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="486" cy="110" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="501" cy="110" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="516" cy="110" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="471" cy="128" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="486" cy="128" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="501" cy="128" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="516" cy="128" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="471" cy="146" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="486" cy="146" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="501" cy="146" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="516" cy="146" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="471" cy="164" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="486" cy="164" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="501" cy="164" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="516" cy="164" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="471" cy="182" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="486" cy="182" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="501" cy="182" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="516" cy="182" r="5" stroke="black" stroke-width="1" fill="white" />

                          <text x="615" y="13" fill="black">A</text>
                          <text x="631" y="13" fill="black">B</text>
                          <text x="647" y="13" fill="black">C</text>
                          <text x="663" y="13" fill="black">D</text>

                          <text x="597" y="28" fill="black">1</text>
                          <text x="597" y="47" fill="black">2</text>
                          <text x="597" y="66" fill="black">3</text>
                          <text x="597" y="85" fill="black">4</text>
                          <text x="597" y="104" fill="black">5</text>
                          <text x="597" y="123" fill="black">6</text>
                          <text x="597" y="142" fill="black">7</text>
                          <text x="597" y="161" fill="black">8</text>
                          <text x="597" y="180" fill="black">9</text>
                          <text x="590" y="199" fill="black">10</text>
                  <rect x="610" y="15" width="70" height="185" style="fill:white;stroke:black;stroke-width:2;fill-opacity:0.1;stroke-opacity:0.9" />
                          <circle cx="621" cy="24" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="636" cy="24" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="651" cy="24" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="666" cy="24" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="621" cy="42" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="636" cy="42" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="651" cy="42" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="666" cy="42" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="621" cy="60" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="636" cy="60" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="651" cy="60" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="666" cy="60" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="621" cy="74" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="636" cy="74" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="651" cy="74" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="666" cy="74" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="621" cy="92" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="636" cy="92" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="651" cy="92" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="666" cy="92" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="621" cy="110" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="636" cy="110" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="651" cy="110" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="666" cy="110" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="621" cy="128" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="636" cy="128" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="651" cy="128" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="666" cy="128" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="621" cy="146" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="636" cy="146" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="651" cy="146" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="666" cy="146" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="621" cy="164" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="636" cy="164" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="651" cy="164" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="666" cy="164" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="621" cy="182" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="636" cy="182" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="651" cy="182" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="666" cy="182" r="5" stroke="black" stroke-width="1" fill="white" />

                      <text x="24" y="347" fill="black">A</text>
                      <text x="40" y="347" fill="black">B</text>
                      <text x="56" y="347" fill="black">C</text>
                      <text x="72" y="347" fill="black">D</text>

                      <text x="5" y="365" fill="black">1</text>
                      <text x="5" y="384" fill="black">2</text>
                      <text x="5" y="403" fill="black">3</text>
                      <text x="5" y="422" fill="black">4</text>
                      <text x="5" y="441" fill="black">5</text>
                      <text x="5" y="460" fill="black">6</text>
                      <text x="5" y="479" fill="black">7</text>
                      <text x="5" y="498" fill="black">8</text>
                      <text x="5" y="517" fill="black">9</text>
                      <text x="-1" y="536" fill="black">10</text>
                  <rect x="20" y="350" width="70" height="185" style="fill:white;stroke:black;stroke-width:2;fill-opacity:0.1;stroke-opacity:0.9" />
                          <circle cx="30" cy="361" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="45" cy="361" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="60" cy="361" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="75" cy="361" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="30" cy="379" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="45" cy="379" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="60" cy="379" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="75" cy="379" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="30" cy="397" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="45" cy="397" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="60" cy="397" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="75" cy="397" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="30" cy="415" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="45" cy="415" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="60" cy="415" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="75" cy="415" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="30" cy="433" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="45" cy="433" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="60" cy="433" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="75" cy="433" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="30" cy="451" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="45" cy="451" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="60" cy="451" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="75" cy="451" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="30" cy="469" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="45" cy="469" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="60" cy="469" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="75" cy="469" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="30" cy="487" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="45" cy="487" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="60" cy="487" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="75" cy="487" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="30" cy="505" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="45" cy="505" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="60" cy="505" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="75" cy="505" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="30" cy="523" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="45" cy="523" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="60" cy="523" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="75" cy="523" r="5" stroke="black" stroke-width="1" fill="white" />

                      <text x="165" y="347" fill="black">A</text>
                      <text x="181" y="347" fill="black">B</text>
                      <text x="197" y="347" fill="black">C</text>
                      <text x="213" y="347" fill="black">D</text>

                      <text x="148" y="365" fill="black">1</text>
                      <text x="148" y="384" fill="black">2</text>
                      <text x="148" y="403" fill="black">3</text>
                      <text x="148" y="422" fill="black">4</text>
                      <text x="148" y="441" fill="black">5</text>
                      <text x="148" y="460" fill="black">6</text>
                      <text x="148" y="479" fill="black">7</text>
                      <text x="148" y="498" fill="black">8</text>
                      <text x="148" y="517" fill="black">9</text>
                      <text x="141" y="536" fill="black">10</text>
                  <rect x="160" y="350" width="70" height="185" style="fill:white;stroke:black;stroke-width:2;fill-opacity:0.1;stroke-opacity:0.9" />
                          <circle cx="171" cy="361" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="186" cy="361" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="201" cy="361" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="216" cy="361" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="171" cy="379" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="186" cy="379" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="201" cy="379" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="216" cy="379" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="171" cy="397" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="186" cy="397" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="201" cy="397" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="216" cy="397" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="171" cy="415" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="186" cy="415" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="201" cy="415" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="216" cy="415" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="171" cy="433" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="186" cy="433" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="201" cy="433" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="216" cy="433" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="171" cy="451" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="186" cy="451" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="201" cy="451" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="216" cy="451" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="171" cy="469" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="186" cy="469" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="201" cy="469" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="216" cy="469" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="171" cy="487" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="186" cy="487" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="201" cy="487" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="216" cy="487" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="171" cy="505" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="186" cy="505" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="201" cy="505" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="216" cy="505" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="171" cy="523" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="186" cy="523" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="201" cy="523" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="216" cy="523" r="5" stroke="black" stroke-width="1" fill="white" />

                      <text x="315" y="347" fill="black">A</text>
                      <text x="331" y="347" fill="black">B</text>
                      <text x="347" y="347" fill="black">C</text>
                      <text x="363" y="347" fill="black">D</text>

                      <text x="297" y="365" fill="black">1</text>
                      <text x="297" y="384" fill="black">2</text>
                      <text x="297" y="403" fill="black">3</text>
                      <text x="297" y="422" fill="black">4</text>
                      <text x="297" y="441" fill="black">5</text>
                      <text x="297" y="460" fill="black">6</text>
                      <text x="297" y="479" fill="black">7</text>
                      <text x="297" y="498" fill="black">8</text>
                      <text x="297" y="517" fill="black">9</text>
                      <text x="290" y="536" fill="black">10</text>
                  <rect x="310" y="350" width="70" height="185" style="fill:white;stroke:black;stroke-width:2;fill-opacity:0.1;stroke-opacity:0.9" />
                          <circle cx="321" cy="361" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="336" cy="361" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="351" cy="361" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="366" cy="361" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="321" cy="379" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="336" cy="379" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="351" cy="379" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="366" cy="379" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="321" cy="397" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="336" cy="397" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="351" cy="397" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="366" cy="397" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="321" cy="415" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="336" cy="415" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="351" cy="415" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="366" cy="415" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="321" cy="433" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="336" cy="433" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="351" cy="433" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="366" cy="433" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="321" cy="451" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="336" cy="451" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="351" cy="451" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="366" cy="451" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="321" cy="469" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="336" cy="469" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="351" cy="469" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="366" cy="469" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="321" cy="487" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="336" cy="487" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="351" cy="487" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="366" cy="487" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="321" cy="505" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="336" cy="505" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="351" cy="505" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="366" cy="505" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="321" cy="523" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="336" cy="523" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="351" cy="523" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="366" cy="523" r="5" stroke="black" stroke-width="1" fill="white" />

                          <text x="465" y="347" fill="black">A</text>
                          <text x="481" y="347" fill="black">B</text>
                          <text x="497" y="347" fill="black">C</text>
                          <text x="513" y="347" fill="black">D</text>

                      <text x="447" y="365" fill="black">1</text>
                      <text x="447" y="384" fill="black">2</text>
                      <text x="447" y="403" fill="black">3</text>
                      <text x="447" y="422" fill="black">4</text>
                      <text x="447" y="441" fill="black">5</text>
                      <text x="447" y="460" fill="black">6</text>
                      <text x="447" y="479" fill="black">7</text>
                      <text x="447" y="498" fill="black">8</text>
                      <text x="447" y="517" fill="black">9</text>
                      <text x="440" y="536" fill="black">10</text>
                  <rect x="460" y="350" width="70" height="185" style="fill:white;stroke:black;stroke-width:2;fill-opacity:0.1;stroke-opacity:0.9" />
                          <circle cx="471" cy="361" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="486" cy="361" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="501" cy="361" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="516" cy="361" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="471" cy="379" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="486" cy="379" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="501" cy="379" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="516" cy="379" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="471" cy="397" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="486" cy="397" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="501" cy="397" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="516" cy="397" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="471" cy="415" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="486" cy="415" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="501" cy="415" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="516" cy="415" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="471" cy="433" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="486" cy="433" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="501" cy="433" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="516" cy="433" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="471" cy="451" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="486" cy="451" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="501" cy="451" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="516" cy="451" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="471" cy="469" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="486" cy="469" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="501" cy="469" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="516" cy="469" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="471" cy="487" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="486" cy="487" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="501" cy="487" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="516" cy="487" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="471" cy="505" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="486" cy="505" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="501" cy="505" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="516" cy="505" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="471" cy="523" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="486" cy="523" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="501" cy="523" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="516" cy="523" r="5" stroke="black" stroke-width="1" fill="white" />

                          <text x="615" y="347" fill="black">A</text>
                          <text x="631" y="347" fill="black">B</text>
                          <text x="647" y="347" fill="black">C</text>
                          <text x="663" y="347" fill="black">D</text>

                      <text x="597" y="365" fill="black">1</text>
                      <text x="597" y="384" fill="black">2</text>
                      <text x="597" y="403" fill="black">3</text>
                      <text x="597" y="422" fill="black">4</text>
                      <text x="597" y="441" fill="black">5</text>
                      <text x="597" y="460" fill="black">6</text>
                      <text x="597" y="479" fill="black">7</text>
                      <text x="597" y="498" fill="black">8</text>
                      <text x="597" y="517" fill="black">9</text>
                      <text x="590" y="536" fill="black">10</text>
                  <rect x="610" y="350" width="70" height="185" style="fill:white;stroke:black;stroke-width:2;fill-opacity:0.1;stroke-opacity:0.9" />
                          <circle cx="621" cy="361" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="636" cy="361" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="651" cy="361" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="666" cy="361" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="621" cy="379" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="636" cy="379" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="651" cy="379" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="666" cy="379" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="621" cy="397" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="636" cy="397" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="651" cy="397" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="666" cy="397" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="621" cy="415" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="636" cy="415" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="651" cy="415" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="666" cy="415" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="621" cy="433" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="636" cy="433" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="651" cy="433" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="666" cy="433" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="621" cy="451" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="636" cy="451" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="651" cy="451" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="666" cy="451" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="621" cy="469" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="636" cy="469" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="651" cy="469" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="666" cy="469" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="621" cy="487" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="636" cy="487" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="651" cy="487" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="666" cy="487" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="621" cy="505" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="636" cy="505" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="651" cy="505" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="666" cy="505" r="5" stroke="black" stroke-width="1" fill="white" />

                          <circle cx="621" cy="523" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="636" cy="523" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="651" cy="523" r="5" stroke="black" stroke-width="1" fill="white" />
                          <circle cx="666" cy="523" r="5" stroke="black" stroke-width="1" fill="white" />


              </svg>
           </div>
<!--             <div class="row">-->
<!--               <svg width="681" height="350">-->
<!--                  <rect x="10" y="10" width="70" height="250" style="fill:white;stroke:black;stroke-width:2;fill-opacity:0.1;stroke-opacity:0.9" />-->
<!--                  <rect x="160" y="10" width="70" height="250" style="fill:white;stroke:black;stroke-width:2;fill-opacity:0.1;stroke-opacity:0.9" />-->
<!--                  <rect x="310" y="10" width="70" height="250" style="fill:white;stroke:black;stroke-width:2;fill-opacity:0.1;stroke-opacity:0.9" />-->
<!--                  <rect x="460" y="10" width="70" height="250" style="fill:white;stroke:black;stroke-width:2;fill-opacity:0.1;stroke-opacity:0.9" />-->
<!--                  <rect x="610" y="10" width="70" height="250" style="fill:white;stroke:black;stroke-width:2;fill-opacity:0.1;stroke-opacity:0.9" />-->
<!--              </svg>-->
<!--            </div>-->
          </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>